@import "components/globales";
@import "components/headers";
@import "components/cards";
@import "components/footers";

.show {
  text-align: center;
  display: inherit !important;
  margin-top: 1rem;
  border-radius: 10px;
  border: $color__tenueOscuro solid 3px;
}

.hidden {
  display: none;
}

.container {
  &__inf {
    margin: 5%;

    h2 {
      text-align: center;
      text-transform: uppercase;
      text-shadow: 3px 0px 5px $color__primario;
      font-size: 1.8rem;
    }

    p {
      margin: 1rem 0;
      font-size: 1rem;
    }

    img {
      width: 100%;
    }

    a {
      text-shadow: 3px 0px 5px $color__primario;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// R E S P O N S I V E
@media screen and (min-width:900px) {
  .container {
    &__inf {
      img {
        width: 60%;
        margin: 0 20%;
      }
    }
  }
}