footer: article 
	h5
		span &copy
		span 2021
		a(href="https://platzi.com/clases/javascript-practico/" target="_blank" rel="noopener") 
			span CursoPraćticoJS
	p Desarrollo por
		a(href="https://github.com/carlosarturomt")  CarlosArturoMT