include configurations.pug
//- D O C  H T M L 5
doctype html 
html(lang="es")
	block contenidos
	include footer.pug
	script(src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js")