extend components/plantilla.pug
block contenidos
  +head("Regla de Tres.", "https://carlosarturomt.github.io/curso-practico-js/public/assets/imgs/regla3.jpg", "Calculadora de Regla de Tres | WebMath")
  body 
    +header 
    main.container
      h1=titulos[1]
      p Resultado del segundo taller del curso práctico de JavaScript
      section.flex
        //- P R E C I O - C O N - D E S C U E N T O
        article.container__card.color1
          aside.container__card--header
            img.container__card--header-photo(src="../assets/icons/calculator.png" alt="cuadrado")
            hgroup 
              h2 Regla de Tres
              h3 Calcular el precio con descuento
          form.container__card--cover(action="" name="")
            label(for="inputPrice") Escribe el precio de tu producto:
            input#inputPrice.w-100(type="number" placeholder="$$$")
            label(for="inputDiscount") Escribe el descuento de tu producto
            input#inputDiscount.w-100(type="number" placeholder="Descuento%")
            aside
              button(type="button" onclick="onClickButtonPriceDiscount()") Calcular 
              p#resultPrice.w-100
        article.container__inf
          h2 ¿Cómo se ha calculado esto?
          p La
            strong regla de tres simple y directa 
            |consiste en una relación de cantidades con proporcionalidad directa, que se da cuando dadas dos cantidades correspondientes a magnitudes 
            strong directamente proporcionales
            |, se debe calcular la cantidad de una de estas magnitudes correspondiente a una cantidad dada de la otra magnitud.
          img(src="https://www.superprof.es/apuntes/wp-content/ql-cache/quicklatex.com-c80efb69f6f869fa548a525bb14c8e95_l3.png", alt="x=A² * C / A¹")
          p La regla de tres directa la aplicaremos cuando entre las magnitudes se establecen las relaciones:
          p A más ➔ más.
          p A menos ➔ menos.
          p Es decir, cuando una magnitud aumenta la otra también lo hace, y si la magnitud disminuye la otra de igual forma.
          br
          p Referido de 
            a(href="https://www.superprof.es/apuntes/escolar/matematicas/aritmetica/proporcionalidad/regla-de-tres-simple-y-directa.html" target="_blank" rel="noopener") https://www.superprof.es

  script(src="../js/descuentos.js")