extend components/plantilla.pug
block contenidos
  +head("Calcula Perímetros y Áreas.", "https://carlosarturomt.github.io/curso-practico-js/public/assets/imgs/figuras.jpg", "Calculadora de Perímetros y Áreas | WebMath")
  body 
    +header 
    main.container
      h1=titulos[0]
      p Resultado del primer taller del curso práctico de JavaScript
      section.flex
        //- C U A D R A D O
        article.container__card.color1
          aside.container__card--header
            img.container__card--header-photo(src="../assets/icons/cuadrado.png" alt="cuadrado")
            hgroup 
              h2 Cuadrado
              h3 Calcula el área y perímetro 
          form.container__card--cover(action="" name="formulCuadrado")
            label(for="inputCuadrado") ¿Cuánto mide cada lado de tu cuadrado?
            input#inputCuadrado.w-73(type="number")
            select.w-25(name="unidadesCuadrado")
              option(value="mm") mm
              option(value="cm") cm 
              option(value="m") m 
              option(value="km") km  
            aside 
              button(type="button" onclick="calcularPerimetroCuadrado()") Calcular perímetro 
              button(type="button" onclick="calcularAreaCuadrado()") Calcular área
              p.hidden#resultCuadrado.w-100
        //- C I R C U L O
        article.container__card.color3
          aside.container__card--header
            img.container__card--header-photo(src="../assets/icons/circulo.png" alt="circulo")
            hgroup 
              h2 Circulo
              h3 Calcula el área y perímetro
          form.container__card--cover(action="" name="formulCirculo")
            label(for="inputCirculo") ¿Cuánto mide el radio de tu circulo?
            input#inputCirculo.w-73(type="number")
            select.w-25(name="unidadesCirculo")
              option(value="mm") mm
              option(value="cm") cm 
              option(value="m") m 
              option(value="km") km  
            aside 
              button(type="button" onclick="calcularPerimetroCirculo()") Calcular circunferencia 
              button(type="button" onclick="calcularAreaCirculo()") Calcular área
              p.hidden#resultCirculo.w-100
        //- R E C T A N G U L O
        article.container__card.color4
          aside.container__card--header
            img.container__card--header-photo(src="../assets/icons/rectangulo.png" alt="cuadrado")
            hgroup 
              h2 Rectángulo
              h3 Calcula el área y perímetro
          form.container__card--cover(action="" name="formulRectangulo")
            label(for="inputRectangulo") ¿Cuánto mide cada lado de tu rectángulo?
            input#inputRectanguloA.w-50(type="number" placeholder="Altura")
            input#inputRectanguloB.w-50(type="number" placeholder="Base")
            select.w-100(name="unidadesRectangulo")
              option(value="mm") mm
              option(value="cm") cm 
              option(value="m") m 
              option(value="km") km  
            aside 
              button(type="button" onclick="calcularPerimetroRectangulo()") Calcular perímetro 
              button(type="button" onclick="calcularAreaRectangulo()") Calcular área
              p.hidden#resultRectangulo.w-100
        //- T R I Á N G U L O 
        article.container__card.color2
          aside.container__card--header
            img.container__card--header-photo(src="../assets/icons/triangulo.png" alt="triangulo")
            hgroup 
              h2 Triángulo
              h3 Calcula el área y perímetro
          form.container__card--cover(action="" name="formulTriangulo")
            label(for="inputTriangulo") ¿Cuánto mide cada lado de tu triángulo?
            input#inputTrianguloA.w-50(type="number" placeholder="Lado A")
            input#inputTrianguloB.w-50(type="number" placeholder="Lado B")
            input#inputTrianguloC.w-50(type="number" placeholder="Base")
            input#inputTrianguloD.w-50(type="number" placeholder="Altura")
            select.w-100(name="unidadesTriangulo")
              option(value="mm") mm
              option(value="cm") cm 
              option(value="m") m 
              option(value="km") km  
            aside 
              button(type="button" onclick="calcularPerimetroTriangulo()") Calcular perímetro 
              button(type="button" onclick="calcularAreaTriangulo()") Calcular área   
              p.hidden#resultTriangulo.w-100

  script(src="../js/figuras_funciones.js")