extend components/plantilla.pug
block contenidos
  +head(titulos[2], "https://carlosarturomt.github.io/curso-practico-js/public/assets/imgs/regla3.jpg", titulos[2]+" | WebMath")
  body 
    +header 
    main.container
      h1=titulos[2]
      p Resultado del tercer taller del curso práctico de JavaScript
      section.flex
        //- P R O M E D I O - M E D I A N A - M O D A
        article.container__card.color1
          aside.container__card--header
            img.container__card--header-photo(src="../assets/icons/calculator.png" alt="cuadrado")
            hgroup 
              h2 Calcular el 
              h3 Promedio, Mediana y Moda
          form.container__card--cover(action="" name="formStatistics")
            label(for="inputStatistics") Escribe los números para calcular lo que necesites:
            input#inputStatistics.w-100(type="text" placeholder="1, 2, 3...")
            aside
              button(type="button" onclick="getAverage()") Promedio
              button(type="button" onclick="getMedian()") Mediana
              button(type="button" onclick="getModa()") Moda
              button(type="button" onclick="location.reload();"): span.garbage
              p#resultAverage.w-100.hidden
              p#resultMedian.w-100.hidden
              p#resultModa.w-100.hidden
        article.container__inf
          h2 ¿Cómo se ha calculado esto?
          p 
            strong Media aritmética o Promedio: 
            |Se suman todos los datos y se divide por la cantidad de datos.
          p 
            strong Mediana: 
            |Se ordenan los datos de menor a mayor y la mediana es el dato intermedio, si son dos números intermedios; se saca el promedio de estos dos.
          p 
            strong Moda: 
            |Es el dato que más se repite.

  script(src="../js/pro_med_mod.js")