extend components/plantilla.pug
block contenidos
  +head(titulos[3], "https://carlosarturomt.github.io/curso-practico-js/public/assets/imgs/regla3.jpg", "Calculadora de Salarios | WebMath")
  body 
    +header 
    main.container
      h1=titulos[3]
      p Resultado del cuarto taller del curso práctico de JavaScript
      section.flex
        //- P R I M A  V A C A C I O N A L 
        article.container__card.color1
          aside.container__card--header
            img.container__card--header-photo(src="../assets/imgs/money.png" alt="cuadrado")
            hgroup 
              h2 Prima Vacacional
              h3 Adicional en tu Vacaciones
          form.container__card--cover(action="" name="formulPrima")
            label(for="") Escribe tu salario:
            input#inputPrimaV.w-50(type="number" placeholder="$$$")
            select.w-50(name="salarioDiario")
              option(value="0") Salario Diario 
              option(value="1") Mensual
            label(for="") Selecciona tu antigüedad:
            select.w-100(name="añosTrabajando")
              option(value="6") 1 año
              option(value="8") 2 años
              option(value="10") 3 años
              option(value="12") 4 años
              option(value="14") 5 a 9 años 
              option(value="16") 10 a 14 años 
              option(value="18") 15 a 19 años 
              option(value="20") 20 a 24 años  
              option(value="22") 25 a 29 años
              option(value="24") 30 a 34 años
            aside
              button(type="button" onclick="calcularPrimaVacacional()") Calcular 
              button(type="button" onclick="location.reload();"): span.garbage
              p#resultSalarioD.w-100.hidden
              p#resultPrimaV.w-100.hidden
              p#resultPrimaV1.w-100.hidden

        //- P R I M A  D O M I N I C A L 
        article.container__card.color1
          aside.container__card--header
            img.container__card--header-photo(src="../assets/imgs/dollar.png" alt="cuadrado")
            hgroup 
              h2 Prima Dominical
              h3 Adicional por trabajar en Domingo
          form.container__card--cover(action="" name="formulPrimaD")
            label(for="") Escribe tu salario:
            input#inputPrimaD.w-50(type="number" placeholder="$$$")
            select.w-50(name="salarioDiarioPD")
              option(value="0") Salario Diario 
              option(value="1") Mensual
            label(for="inputDomingosT") Domingos trabajados:
            input#inputDomingosT.w-100(type="number" placeholder="Cantidad")
            aside
              button(type="button" onclick="calcularPrimaDominical()") Calcular 
              button(type="button" onclick="location.reload();"): span.garbage
              p#resultSalarioD1.w-100.hidden
              p#resultPrimaD.w-100.hidden
              
        article.container__inf
          h2 ¿Prima Vacacional?
          p Primero debes de saber lo siguiente: 
          p La prima vacacional es un derecho que todo trabajador con contrato bajo la Ley Federal del Trabajo (LFT), tiene acceso. Según el artículo 80 de la LFT, la prima vacacional trata de lo siguiente:
          p.text-center
            strong “Los trabajadores tendrán derecho a una prima no menor de veinticinco por ciento sobre los salarios que les correspondan durante el período de vacaciones”.
          p En otras palabras, la prima vacacional es una cantidad adicional de dinero que se paga para “el disfrute de las vacaciones”. Vale decir, una bonificación para que el trabajador o trabajadora tenga mejor pasar.
          h2 ¿Cómo se ha calculado esto?
          p Para saber la cantidad que te corresponde por la prima vacacional debes hacer una multiplicación. Esto es, tu salario diario multiplicado por los días de vacaciones y multiplicado por 0.25. Esta es la fórmula que estipula la ley y sabrás cuánto te corresponde.
          p.text-center
            strong SUELDO DIARIO X DÍAS DE VACACIONES X 0,25 = PRIMA VACACIONAL
          br
          p Referido de 
            a(href="https://www.geovictoria.com/mx/prima-vacacional/" target="_blank" rel="noopener") https://www.geovictoria.com
          p Para la Prima Domical, se ha referido de 
            a(href="https://www.dineroenimagen.com/tu-dinero/trabajas-en-domingo-esto-es-lo-que-te-corresponde-por-la-prima-dominical/131971" target="_blank" rel="noopener") https://www.dineroenimagen.com
  
  script(src="../js/prima_vacacional.js")
  //- script(src="../js/salarios.js")
  //- script(src="../js/analisis.js")