// V A R I A B L E S
// -----------------
$color__oscuro: #00090c;
$color__claro: #FEFEFE;
$color__claro--variable: #ececec;
$color__tenue: rgba(10, 10, 10, 0.185);
$color__tenueOscuro: rgba(10, 10, 10, 0.493);
$color__gris--oscuro: #222222;
$color__gris--claro: rgb(43, 43, 43);
$color__primario: #019a679a;
$color__secundario: rgba(151, 5, 5, 0.664);
$color__terciario: rgba(104, 104, 199, 0.801);
$fuente__primaria: 'Ubuntu',
sans-serif;


// ------------------
// M I X I N S
// ------------------
