include configurations.pug
//- D O C  H T M L 5
doctype html 
html(lang="es")
	include head.pug
	body
		block contenidos
		include footer.pug
	script(src="../js/figuras_funciones.js")
	script(src="https://kit.fontawesome.com/2c36e9b7b1.js" rossorigin="anonymous" aria-label="Dark Theme")